In [1]:
!pip install -r "..\requirements.txt"

Requirement already satisfied: matplotlib in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 1)) (3.8.3)
Requirement already satisfied: numpy in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: pandas in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 3)) (2.2.1)
Requirement already satisfied: scipy in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 4)) (1.12.0)
Requirement already satisfied: seaborn in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 5)) (0.13.2)
Requirement already satisfied: scikit-learn in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 6)) (1.4.1.post1)
Requirement already satisfied: imbalanced-learn in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 7)) (0.12.0)
Requirement already satisfied: category-encoders in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 8)) (2.6.3)
Requirement already satisfied: patsy in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 9)) (0.5.6)
Requirement already satisfied: statsmodels in d:\pythons\python_312\lib\site-packages (from -r ..\requirements.txt (line 10)) (0.14.2)
Collecting sklearn (from -r ..\requirements.txt (line 11))
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

#### Data Shapes

In [3]:
import pandas as pd
import numpy as np

from IPython.display import HTML

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("../data/FuelConsumption.csv")

In [6]:
df.head()

,Year,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,COEMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,10.5,216
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,9.8,205
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,13.7,265
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,15.0,301
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,11.4,230

In [7]:
df.shape

(639, 10)

#### Types

# Missing data imputation

In [7]:
ds.shape

(558811, 16)

In [8]:
missing = []

for x in ds.columns:
    if ds[x].isnull().sum() != 0:
        print(x, ds[x].isnull().sum(), " | ",round((ds[x].isnull().sum()/ds.shape[0])*100, 3), "%")
        missing.append(x)

make 10301  |  1.843 %
model 10399  |  1.861 %
trim 10651  |  1.906 %
body 13195  |  2.361 %
transmission 65353  |  11.695 %
condition 11794  |  2.111 %
odometer 94  |  0.017 %
color 749  |  0.134 %
interior 749  |  0.134 %

In [9]:
ds.nunique()

year                34
make                96
model              973
trim              1975
body                86
transmission         2
vin             550296
state               38
condition           41
odometer        172277
color               20
interior            17
seller           14264
mmr               1101
sellingprice      1887
saledate          3745
dtype: int64

In [10]:
ds.head(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [12]:
missing = []

for x in ds.columns:
    if ds[x].isnull().sum() != 0:
        print(x, ds[x].isnull().sum(), " | ",round((ds[x].isnull().sum()/ds.shape[0])*100, 3), "%")
        missing.append(x)

make 10301  |  1.843 %
model 10399  |  1.861 %
trim 10651  |  1.906 %
body 13195  |  2.361 %
transmission 65353  |  11.695 %
condition 11794  |  2.111 %
odometer 94  |  0.017 %
color 749  |  0.134 %
interior 749  |  0.134 %

In [11]:
# Підрахунок кількості рядків, де значення стовпців "make", "model", "trim" та "body" є нульовими
null_values_count = ((ds['make'].isnull()) & (ds['model'].isnull()) & (ds['trim'].isnull()) & (ds['body'].isnull())).sum()

# Виведення результату
print("'make', 'model', 'trim' та 'body' є нульовими:",round((null_values_count/ds.shape[0])*100, 3), "%")

'make', 'model', 'trim' та 'body' є нульовими: 1.843 %

In [12]:
# Виведення рядків, де значення стовпця "make" є нульовими, а значення стовпця "model" не є нульовими
rows_with_null_make_and_not_null_model = ds[ds['trim'].isnull() & ~ds['model'].isnull()]

# Друк результуючого DataFrame
print(rows_with_null_make_and_not_null_model)

        year        make     model trim body transmission                vin  \
1736    2012  mitsubishi    galant  NaN  NaN    automatic  4a32b2ff9ce018740
3395    2007   chevrolet  corvette  NaN  NaN    automatic  1g1yy26u075116869
3499    2007    mercedes    c230wz  NaN  NaN    automatic  wdbrf52h67f904964
3527    2007       mazda      cx-7  NaN  NaN    automatic  jm3er293270109517
3550    2007      toyota    matrix  NaN  NaN    automatic  2t1kr32e47c684222
...      ...         ...       ...  ...  ...          ...                ...
541896  2004       Honda    accord  NaN  NaN    automatic  1hgcm66884a076293
548293  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb7af274800
548300  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb9af208345
550547  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb4af307705
556891  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb9af220611

       state  condition  odometer     color interior  \
1736      ca        4.1   65632.0     white     gray
3395      ca        3.6   56923.0     black    black
3499      ca        2.8  141008.0       red    black
3527      ca        2.9   89169.0     white   silver
3550      ca        3.9   73321.0      blue     gray
...      ...        ...       ...       ...      ...
541896    nc        3.5  199124.0  burgundy     gray
548293    mi        3.3   73483.0      gray    brown
548300    in        3.3   59853.0     black     gray
550547    mn        2.8   76282.0     white     gray
556891    mi        3.5   57161.0      gray     gray

                                seller    mmr  sellingprice  \
1736                dtg operations inc   7900          8000
3395           high bid trading co inc  21000         23000
3499    walters auto sales/service inc   5500          5300
3527                      veros credit   6050          4500
3550               exeter finance corp   6450          7300
...                                ...    ...           ...
541896                     bryan honda   2900          3200
548293              santander consumer   7250          7400
548300                  auto trakk llc   7850          7200
550547              santander consumer   7150          7400
556891                mcquiston motors   7950          9500

                                       saledate
1736    Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
3395    Wed Dec 17 2014 12:15:00 GMT-0800 (PST)
3499    Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
3527    Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
3550    Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...                                         ...
541896  Mon Jun 15 2015 02:00:00 GMT-0700 (PDT)
548293  Thu Jun 18 2015 02:30:00 GMT-0700 (PDT)
548300  Wed Jun 17 2015 06:30:00 GMT-0700 (PDT)
550547  Thu Jun 18 2015 03:45:00 GMT-0700 (PDT)
556891  Thu Jun 18 2015 02:30:00 GMT-0700 (PDT)

[350 rows x 16 columns]

In [13]:
# Підрахунок кількості рядків, де значення стовпців "make", "model", "trim" та "body" є нульовими
null_values_count = ((~ds['make'].isnull()) & (~ds['model'].isnull()) & (ds['trim'].isnull()))

# Виведення результату
print("Кількість рядків, де значення стовпців 'make', 'model', 'trim' та 'body' є нульовими:", null_values_count)

Кількість рядків, де значення стовпців 'make', 'model', 'trim' та 'body' є нульовими: 0         False
1         False
2         False
3         False
4         False
          ...
558806    False
558807    False
558808    False
558809    False
558810    False
Length: 558811, dtype: bool

In [14]:
# Виведення рядків, де значення стовпця "model" є нульовим
rows = ds[(~ds['make'].isnull()) & (ds['model'].isnull())]

unique_makes = rows['make'].unique()
unique_trim = rows['trim'].unique()
unique_body = rows['body'].unique()

print(unique_makes)
print(unique_trim)
print(unique_body)

combinations = list(itertools.product(unique_makes, unique_trim, unique_body))

# Виведення унікальних комбінацій, які зустрічаються у вашому датасеті
unique_combinations = [comb for comb in combinations if comb in rows[['make', 'model', 'trim']].values]
for combination in unique_combinations:
    print(combination)

['BMW' 'Audi']
['750Li' '750i' '750Li xDrive' '2.0 TFSI Premium quattro' '750i xDrive'
 '650i xDrive']
['Sedan' 'sedan']
('BMW', '750Li', 'Sedan')
('BMW', '750Li', 'sedan')
('BMW', '750i', 'Sedan')
('BMW', '750i', 'sedan')
('BMW', '750Li xDrive', 'Sedan')
('BMW', '750Li xDrive', 'sedan')
('BMW', '2.0 TFSI Premium quattro', 'Sedan')
('BMW', '2.0 TFSI Premium quattro', 'sedan')
('BMW', '750i xDrive', 'Sedan')
('BMW', '750i xDrive', 'sedan')
('BMW', '650i xDrive', 'Sedan')
('BMW', '650i xDrive', 'sedan')
('Audi', '750Li', 'Sedan')
('Audi', '750Li', 'sedan')
('Audi', '750i', 'Sedan')
('Audi', '750i', 'sedan')
('Audi', '750Li xDrive', 'Sedan')
('Audi', '750Li xDrive', 'sedan')
('Audi', '2.0 TFSI Premium quattro', 'Sedan')
('Audi', '2.0 TFSI Premium quattro', 'sedan')
('Audi', '750i xDrive', 'Sedan')
('Audi', '750i xDrive', 'sedan')
('Audi', '650i xDrive', 'Sedan')
('Audi', '650i xDrive', 'sedan')

In [15]:
# Заміна значень рядків, де значення body = "sedan", на "Sedan"
ds.loc[(ds['body'] == 'sedan'), 'body'] = 'Sedan'

In [16]:
# Виведення рядків, де значення стовпців "make" і "model" є нульовими
rows = ds[(~ds['make'].isnull()) & (ds['model'].isnull())]

unique_makes = rows['make'].unique()
unique_trim = rows['trim'].unique()
unique_body = rows['body'].unique()

print(unique_makes)
print(unique_trim)
print(unique_body)

combinations = list(itertools.product(unique_makes, unique_trim, unique_body))

# Виведення унікальних комбінацій, які зустрічаються у вашому датасеті
unique_combinations = [comb for comb in combinations if comb in rows[['make', 'model', 'trim']].values]
for combination in unique_combinations:
    print(combination)

['BMW' 'Audi']
['750Li' '750i' '750Li xDrive' '2.0 TFSI Premium quattro' '750i xDrive'
 '650i xDrive']
['Sedan']
('BMW', '750Li', 'Sedan')
('BMW', '750i', 'Sedan')
('BMW', '750Li xDrive', 'Sedan')
('BMW', '2.0 TFSI Premium quattro', 'Sedan')
('BMW', '750i xDrive', 'Sedan')
('BMW', '650i xDrive', 'Sedan')
('Audi', '750Li', 'Sedan')
('Audi', '750i', 'Sedan')
('Audi', '750Li xDrive', 'Sedan')
('Audi', '2.0 TFSI Premium quattro', 'Sedan')
('Audi', '750i xDrive', 'Sedan')
('Audi', '650i xDrive', 'Sedan')

In [17]:
combination_in_rows = combinations

In [18]:
# Список для повних записів
rows_not_null = []

for combination in combination_in_rows:
    # Вибірка рядків, що відповідають умові
    selected_rows = ds.loc[(ds['make']==combination[0]) & (~ds['model'].isnull()) & (ds['trim']==combination[1]) & (ds['body']==combination[2])]
    
    # Перевірка, чи не є вибірка порожньою
    if not selected_rows.empty:
        # Якщо вибірка не порожня, вибираємо перший рядок та додаємо його до списку
        row = selected_rows.iloc[0]
        rows_not_null.append((row['make'], row['model'], row['trim'], row['body']))

print(rows_not_null)

[('BMW', '7 Series', '750Li', 'Sedan'), ('BMW', '7 Series', '750i', 'Sedan'), ('BMW', '7 Series', '750Li xDrive', 'Sedan'), ('BMW', '7 Series', '750i xDrive', 'Sedan'), ('BMW', '6 Series Gran Coupe', '650i xDrive', 'Sedan')]

In [19]:
# Заміна значень рядків, де значення model = NaN

for row in rows_not_null:
    ds.loc[(ds['make'] == row[0]) & (ds['trim'] == row[2]) & (ds['body'] == row[3]), 'model'] = row[1]

# Друк результуючого DataFrame
print(ds)

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558806  2015     Kia                 K900       Luxury      Sedan
558807  2012     Ram                 2500  Power Wagon   Crew Cab
558808  2012     BMW                   X5    xDrive35d        SUV
558809  2015  Nissan               Altima        2.5 S      Sedan
558810  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer   color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0   white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0   white
2         automatic  wba3c1c51ek116351    ca        4.5    1331.0    gray
3         automatic  yv1612tb4f1310987    ca        4.1   14282.0   white
4         automatic  wba6b2c57ed129731    ca        4.3    2641.0    gray
...             ...                ...   ...        ...       ...     ...
558806          NaN  knalw4d4xf6019304    in        4.5   18255.0  silver
558807    automatic  3c6td5et6cg112407    wa        5.0   54393.0   white
558808    automatic  5uxzw0c58cl668465    ca        4.8   50561.0   black
558809    automatic  1n4al3ap0fc216050    ga        3.8   16658.0   white
558810    automatic  1ftfw1et2eke87277    ca        3.4   15008.0    gray

       interior                                             seller    mmr  \
0         black                            kia motors america, inc  20500
1         beige                            kia motors america, inc  20800
2         black             financial services remarketing (lease)  31900
3         black                            volvo na rep/world omni  27500
4         black             financial services remarketing (lease)  66000
...         ...                                                ...    ...
558806    black                                   avis corporation  35300
558807    black                                    i -5 uhlmann rv  30200
558808    black             financial services remarketing (lease)  29800
558809    black  enterprise vehicle exchange / tra / rental / t...  15100
558810     gray                   ford motor credit company,llc pd  29600

        sellingprice                                 saledate
0              21500  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1              21500  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2              30000  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3              27750  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4              67000  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558806         33000  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558807         30800  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558808         34000  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809         11100  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558810         26700  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558811 rows x 16 columns]

In [20]:
missing = []

for x in ds.columns:
    if ds[x].isnull().sum() != 0:
        print(x, ds[x].isnull().sum(), " | ",round((ds[x].isnull().sum()/ds.shape[0])*100, 3), "%")
        missing.append(x)

make 10301  |  1.843 %
model 10313  |  1.846 %
trim 10651  |  1.906 %
body 13195  |  2.361 %
transmission 65353  |  11.695 %
condition 11794  |  2.111 %
odometer 94  |  0.017 %
color 749  |  0.134 %
interior 749  |  0.134 %

In [21]:
# Виведення рядків, де значення стовпця "trim" є нульовим
rows = ds[(~ds['make'].isnull()) & (ds['trim'].isnull())]

print(rows)

        year        make     model trim body transmission                vin  \
1736    2012  mitsubishi    galant  NaN  NaN    automatic  4a32b2ff9ce018740
3395    2007   chevrolet  corvette  NaN  NaN    automatic  1g1yy26u075116869
3499    2007    mercedes    c230wz  NaN  NaN    automatic  wdbrf52h67f904964
3527    2007       mazda      cx-7  NaN  NaN    automatic  jm3er293270109517
3550    2007      toyota    matrix  NaN  NaN    automatic  2t1kr32e47c684222
...      ...         ...       ...  ...  ...          ...                ...
541896  2004       Honda    accord  NaN  NaN    automatic  1hgcm66884a076293
548293  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb7af274800
548300  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb9af208345
550547  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb4af307705
556891  2010   Chevrolet    malibu  NaN  NaN    automatic  1g1zb5eb9af220611

       state  condition  odometer     color interior  \
1736      ca        4.1   65632.0     white     gray
3395      ca        3.6   56923.0     black    black
3499      ca        2.8  141008.0       red    black
3527      ca        2.9   89169.0     white   silver
3550      ca        3.9   73321.0      blue     gray
...      ...        ...       ...       ...      ...
541896    nc        3.5  199124.0  burgundy     gray
548293    mi        3.3   73483.0      gray    brown
548300    in        3.3   59853.0     black     gray
550547    mn        2.8   76282.0     white     gray
556891    mi        3.5   57161.0      gray     gray

                                seller    mmr  sellingprice  \
1736                dtg operations inc   7900          8000
3395           high bid trading co inc  21000         23000
3499    walters auto sales/service inc   5500          5300
3527                      veros credit   6050          4500
3550               exeter finance corp   6450          7300
...                                ...    ...           ...
541896                     bryan honda   2900          3200
548293              santander consumer   7250          7400
548300                  auto trakk llc   7850          7200
550547              santander consumer   7150          7400
556891                mcquiston motors   7950          9500

                                       saledate
1736    Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
3395    Wed Dec 17 2014 12:15:00 GMT-0800 (PST)
3499    Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
3527    Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
3550    Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...                                         ...
541896  Mon Jun 15 2015 02:00:00 GMT-0700 (PDT)
548293  Thu Jun 18 2015 02:30:00 GMT-0700 (PDT)
548300  Wed Jun 17 2015 06:30:00 GMT-0700 (PDT)
550547  Thu Jun 18 2015 03:45:00 GMT-0700 (PDT)
556891  Thu Jun 18 2015 02:30:00 GMT-0700 (PDT)

[350 rows x 16 columns]

In [22]:
ds['make'].fillna('Missing', inplace=True)

In [23]:
ds['model'].fillna('Missing', inplace=True)

In [24]:
ds['trim'].fillna('Missing', inplace=True)

In [25]:
ds['body'].fillna('Missing', inplace=True)

In [26]:
# Виведення рядків, де значення стовпця "model" є нульовим
rows = ds[(~ds['make'].isnull()) & (ds['transmission'].isnull())]

print(rows)

        year       make             model               trim      body  \
16      2015    Hyundai            Sonata                 SE     Sedan
35      2014      Buick            Verano  Convenience Group     Sedan
44      2014  Chevrolet             Cruze                1LT     Sedan
89      2014  Chevrolet  Silverado 2500HD         Work Truck  Crew Cab
112     2014  Chevrolet             Cruze                1LT     Sedan
...      ...        ...               ...                ...       ...
558788  2014      Dodge           Charger                 SE     Sedan
558794  2014      Dodge           Charger                 SE     Sedan
558803  2012    Hyundai           Elantra            Limited     Sedan
558804  2012     Nissan            Sentra             2.0 SR     Sedan
558806  2015        Kia              K900             Luxury     Sedan

       transmission                vin state  condition  odometer   color  \
16              NaN  5npe24af4fh001562    ca        NaN    8311.0     red
35              NaN  1g4pr5sk8e4175320    ca        2.0   19531.0    gray
44              NaN  1g1pc5sb6e7128803    ca        NaN   38261.0   white
89              NaN  1gc1kvc84ef152736    ca        3.6    8742.0   white
112             NaN  1g1pc5sbxe7113253    ca        2.8   40393.0    gray
...             ...                ...   ...        ...       ...     ...
558788          NaN  2c3cdxbg3eh324197    va        4.3   20485.0   white
558794          NaN  2c3cdxbg9eh324236    va        4.2   22744.0   white
558803          NaN  5npdh4ae7ch106397    pa        4.0   66720.0    gray
558804          NaN  3n1ab6ap3cl622485    tn        2.6   35858.0   white
558806          NaN  knalw4d4xf6019304    in        4.5   18255.0  silver

       interior                                             seller    mmr  \
16            —                                           avis tra  15200
35         gray  enterprise vehicle exchange / tra / rental / t...  15000
44            —                                           avis tra  11450
89         gray         enterprise fleet management exchange, inc.  34000
112       black                                   avis corporation  11450
...         ...                                                ...    ...
558788    black                              hertz corporation/gdp  16350
558794    black                              hertz corporation/gdp  16250
558803     gray                                     champion mazda  10250
558804     gray                                 nissan-infiniti lt   9950
558806    black                                   avis corporation  35300

        sellingprice                                 saledate
16              4200  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
35              9200  Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
44              2000  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
89             34000  Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
112            11700  Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
...              ...                                      ...
558788         16100  Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558794         15900  Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558803         10400  Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558804         10400  Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558806         33000  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)

[65353 rows x 16 columns]

In [27]:
# Обчислення відсоткового співвідношення кожної категорії
transmission_counts = ds['transmission'].value_counts(normalize=True)

# Заповнення пустих значень з урахуванням відсоткового співвідношення
filled_transmission = ds['transmission'].fillna(pd.Series(np.random.choice(transmission_counts.index, p=transmission_counts.values, size=len(ds))))

# Заміна стовпця в DataFrame заповненим стовпцем
ds['transmission'] = filled_transmission

In [28]:
condition_mode = ds['condition'].mode().iloc[0]

ds['condition'] = ds["condition"].fillna(condition_mode)

In [29]:
odometer_mean = ds['odometer'].mean()

ds['odometer'] = ds["odometer"].fillna(odometer_mean)

In [30]:
color_mode = ds['color'].mode().iloc[0]

ds['color'] = ds["color"].fillna(color_mode)

In [31]:
interior_mode = ds['interior'].mode().iloc[0]

ds['interior'] = ds["interior"].fillna(interior_mode)

In [32]:
missing = []

for x in ds.columns:
    if ds[x].isnull().sum() != 0:
        print(x, ds[x].isnull().sum(), " | ",round((ds[x].isnull().sum()/ds.shape[0])*100, 3), "%")
        missing.append(x)

# Categorical encoding

In [42]:
!pip uninstall category-encoders

^C

In [44]:
!pip install category-encoders

Requirement already satisfied: category-encoders in d:\pythons\python_312\lib\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in d:\pythons\python_312\lib\site-packages (from category-encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\pythons\python_312\lib\site-packages (from category-encoders) (1.4.1.post1)
Requirement already satisfied: scipy>=1.0.0 in d:\pythons\python_312\lib\site-packages (from category-encoders) (1.12.0)
Requirement already satisfied: statsmodels>=0.9.0 in d:\pythons\python_312\lib\site-packages (from category-encoders) (0.14.2)
Requirement already satisfied: pandas>=1.0.5 in d:\pythons\python_312\lib\site-packages (from category-encoders) (2.2.1)
Requirement already satisfied: patsy>=0.5.1 in d:\pythons\python_312\lib\site-packages (from category-encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\pythons\python_312\lib\site-packages (from pandas>=1.0.5->category-encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\pythons\python_312\lib\site-packages (from pandas>=1.0.5->category-encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\pythons\python_312\lib\site-packages (from pandas>=1.0.5->category-encoders) (2024.1)
Requirement already satisfied: six in d:\pythons\python_312\lib\site-packages (from patsy>=0.5.1->category-encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in d:\pythons\python_312\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\pythons\python_312\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (3.3.0)
Requirement already satisfied: packaging>=21.3 in d:\pythons\python_312\lib\site-packages (from statsmodels>=0.9.0->category-encoders) (23.2)

In [45]:
!pip show category_encoders

Name: category-encoders
Version: 2.6.3
Summary: A collection of sklearn transformers to encode categorical variables as numeric
Home-page: https://github.com/scikit-learn-contrib/category_encoders
Author: Will McGinnis
Author-email: will@pedalwrencher.com
License: BSD
Location: D:\Pythons\python_312\Lib\site-packages
Requires: numpy, pandas, patsy, scikit-learn, scipy, statsmodels
Required-by:

In [33]:
# for one hot encoding with sklearn
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from pandas import get_dummies
from sklearn.model_selection import LeaveOneOut
from sklearn.feature_extraction import FeatureHasher
import category_encoders as ce

In [34]:
ds.nunique()

year                34
make                97
model              974
trim              1976
body                86
transmission         2
vin             550296
state               38
condition           41
odometer        172278
color               20
interior            17
seller           14264
mmr               1101
sellingprice      1887
saledate          3745
dtype: int64

In [35]:
ds.head(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [36]:
ds['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', 'Missing', 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

In [37]:
ds['make'] = ds['make'].str.lower()

In [38]:
ds['make'].unique()

array(['kia', 'bmw', 'volvo', 'nissan', 'chevrolet', 'audi', 'ford',
       'hyundai', 'buick', 'cadillac', 'acura', 'lexus', 'infiniti',
       'jeep', 'mercedes-benz', 'mitsubishi', 'mazda', 'mini',
       'land rover', 'lincoln', 'jaguar', 'volkswagen', 'toyota',
       'subaru', 'scion', 'porsche', 'missing', 'dodge', 'fiat',
       'chrysler', 'ferrari', 'honda', 'gmc', 'ram', 'smart', 'bentley',
       'pontiac', 'saturn', 'maserati', 'mercury', 'hummer', 'landrover',
       'mercedes', 'gmc truck', 'saab', 'suzuki', 'oldsmobile', 'isuzu',
       'dodge tk', 'geo', 'rolls-royce', 'mazda tk', 'hyundai tk',
       'mercedes-b', 'vw', 'daewoo', 'chev truck', 'ford tk', 'plymouth',
       'ford truck', 'tesla', 'airstream', 'dot', 'aston martin',
       'fisker', 'lamborghini', 'lotus'], dtype=object)

In [39]:
ds['model'].unique()

array(['Sorento', '3 Series', 'S60', '6 Series Gran Coupe', 'Altima',
       'M5', 'Cruze', 'A4', 'Camaro', 'A6', 'Optima', 'Fusion', 'Sonata',
       'Q5', '6 Series', 'Impala', '5 Series', 'A3', 'XC70', 'X5', 'SQ5',
       'S5', 'Verano', 'Suburban', 'ELR', 'V60', 'X6', 'ILX', 'K900',
       'Malibu', 'RX 350', 'Versa', 'Elantra', 'Versa Note', 'A8', 'X1',
       '7 Series', 'Enclave', 'TTS', '4 Series', 'Silverado 2500HD',
       'MDX', 'Silverado 1500', 'SRX', 'G Coupe', 'G Sedan', 'FX',
       'Santa Fe', 'Genesis', 'Equus', 'Sonata Hybrid', 'Accent',
       'Veloster', 'Elantra Coupe', 'Azera', 'Tucson', 'Genesis Coupe',
       'Wrangler', 'S-Class', 'GS 350', 'Outlander', 'C-Class', 'Mazda2',
       'Rio', 'M', '370Z', 'Soul', 'Outlander Sport', 'SLK-Class',
       'ES 350', 'E-Class', 'Mazda3', 'Cooper Clubman', 'Cooper', 'CX-9',
       'Forte', 'Compass', 'JX', 'RX 450h', 'LR4', 'Mazda5',
       'Range Rover Evoque', 'LS 460', 'GLK-Class', 'Sportage',
       'Grand Cherokee', 'MKX', 'mkt', 'XF', 'GL-Class', 'M-Class',
       'Cooper Countryman', 'Lancer', 'Range Rover Sport', 'Passat',
       'Corolla', 'XC60', 'Sienna', 'Juke', 'Yaris', 'Sentra', 'Rogue',
       'NV', 'CC', 'Leaf', 'Camry', 'Tacoma', 'Jetta', 'Impreza WRX',
       'FJ Cruiser', 'Beetle', 'Avalon', 'FR-S', 'NV200', 'RAV4', 'Quest',
       'Tundra', 'tC', 'Maxima', 'Cayenne', '911', 'Xterra', 'Prius',
       'S80', 'Frontier', 'Boxster', 'Camry Hybrid', 'xB', 'Cube',
       'Jetta SportWagen', '4Runner', 'Sequoia', 'Legacy', 'Armada',
       'Venza', 'Murano', 'Pathfinder', 'Panamera', 'Forester',
       'Highlander', 'Impreza', 'Missing', '750i', 'TSX', '1 Series',
       'TL', '750li', 'S4', 'A7', 'A5', 'RDX', 'M3', 'Cooper Coupe',
       'ZDX', 'R8', 'X3', 'Avenger', 'E-Series Wagon', 'Escape', 'Edge',
       'Focus', 'Flex', 'Z4', 'Traverse', 'F-350 Super Duty', 'Fiesta',
       '500', '200', 'Journey', 'Charger', 'e350', 'Equinox', '300',
       'F-150', 'Explorer', 'Captiva Sport', 'Escalade', 'Grand Caravan',
       'CTS Coupe', 'Town and Country', 'E-Series Van', 'Volt',
       'Express Cargo', 'e150', 'X5 M', 'Expedition', 'Colorado',
       'Express', 'California', 'Escalade ESV', 'Sonic', 'Accord', 'CR-V',
       'Mustang', 'Civic', 'Fit', 'Pilot', 'Odyssey', 'Crosstour',
       'Transit Connect', 'Terrain', 'Taurus', 'G Convertible', 'Yukon',
       'Veracruz', 'XJ', 'Liberty', 'IS 250', 'XK', 'QX', 'CT 200h',
       'Mazda6', 'MKZ', 'Navigator', 'Range Rover', 'SL-Class', 'Sedona',
       'IS 350', 'Patriot', 'galant', '1500', 'GT-R', '2500', 'Galant',
       'fortwo', 'GLI', '5 Series Gran Turismo', 'XC90', 'Tiguan', 'GTI',
       'Q7', 'Highlander Hybrid', 'Prius Plug-in', 'CR-Z', 'EX',
       'Sierra 1500', 'LaCrosse', 'HHR', 'Accord Crosstour', 'CTS',
       'Nitro', 'Tahoe', 'Challenger', 'CTS-V', 'Escape Hybrid', 'X6 M',
       'Ranger', 'Insight', 'Fusion Hybrid', 'CTS-V Coupe',
       'F-250 Super Duty', 'Acadia', 'Impala Limited', 'Dart', 'Spark',
       'M37', 'Sprinter', 'Town Car', 'CLS-Class', 'CX-7', 'MKT', 'QX56',
       'Aveo', 'Outback', 'Caliber', 'Routan', 'g1500', 'Sebring',
       'Corvette', 'Continental GT Speed', 'malibu', 'Land Cruiser',
       'town', 'V50', 'Commander', 'Altima Hybrid', 'G37 Convertible',
       'g6', 'New Beetle', 'Golf', 'LR2', 'Lancer Sportback', 'G5',
       'Yukon XL', 'Escalade Hybrid', 'Avalanche', 'Titan', 'Spectra',
       'Rondo', 'Borrego', 'G-Class', 'MKS', 'CLK-Class', 'Tahoe Hybrid',
       'Econoline Cargo', 'Econoline Wagon', 'PT Cruiser', 'STS',
       'Ridgeline', 'F-450 Super Duty', 'Magnum', 'Durango', 'S40',
       'Malibu Classic', 'TT', 'Taurus X', 'Explorer Sport Trac',
       'Ram Pickup 1500', 'impala', 'Cobalt', 'Pacifica', 'S6', 'Rabbit',
       'C70', 'Sierra 2500HD', 'C30', 'VUE', 'GranTurismo', 'G6',
       'Grand Prix', '350Z', 'Raider', 'Mazdaspeed Mazda3', 'Solstice',
       'Milan', 'GX 470', 'Aura', 'RX 400h', 'Matrix', 'H3', 'CL-Class',
       'Outlook', '7', 'G37', 'IS F', 'Touareg 2', 'Lancer Evolution',
       'G35', 'xD', 'XJ-Series', 'G8', 'hhr', 'H2', 'DTS', 'lr3', 'sts',
       'Silverado 1500 Classic', 'M45', 'Uplander', 'GS 450h', 'corvette',
       'rangerover', 'Rendezvous', 'Monte Carlo', 'FX35', 'range', 'ION',
       'R-Class', 'lancer', 'Eclipse', 'c230wz', 'cx-7', 'B9 Tribeca',
       'matrix', 'tundra', 'RSX', 'mazda5', 'Mariner', 'gx',
       'Five Hundred', 'Envoy XL', 'S-Type', 'Element',
       'Continental Flying Spur', 'S2000', 'FX45', 'sr', 'pilot',
       'GS 430', 'Cayman S', 'Mark LT', 'ES 330', 'GS 300', '350z',
       'Camry Solara', 'rx8', 'Touareg', 'Relay', 'lx', 'allroad quattro',
       '9-3', '500L', 'C-Max Hybrid', 'pacifica', 'Freestyle',
       'Ram Pickup 3500', 'Sprinter Cargo', 'DeVille', 'H2 SUT',
       'TrailBlazer', 'Canyon', 'srx', 'Dakota', 'Continental GT', 'Neon',
       'Stratus', 'Q45', 'Freestar', 'Montana', 'Grand Marquis', 'XLR',
       'Aviator', 'g55', 'MPV', 'LS 430', 'Verona', 'Forenza', 'RX 330',
       '300M', 'SC 430', 'discovery', 'Excursion', 'Envoy XUV', 'Envoy',
       'Concorde', 'Monterey', 'stratus', 'Mountaineer', 'Amanti',
       'Malibu Maxx', 'Celica', 'Grand Am', 'Endeavor', 'Marauder',
       'escape', 'QX4', 'LS', 'Blazer', 'Ram Pickup 2500', 'LeSabre',
       'V40', 'Mazdaspeed Protege', 'Montero', 'ES 300', 'focus',
       'Thunderbird', 'Century', 'Cavalier', 'Venture', 'S-10', 's55',
       'Cougar', 'XL-7', 'Windstar', 'Silverado 1500HD', 'Explorer Sport',
       'Savana Cargo', 'X-Type', 'Sonoma', 'IS 300', 'forester',
       'Protege5', 'sprinter', 'RL', 'Alero', 'Grand Vitara', 'RX 300',
       'L-Series', 'V70', 'Intrigue', 'XC', 'Discovery Series II',
       'S-Series', 'alero', 'santa', 'ECHO', 'MX-5 Miata', 'Continental',
       'Seville', 'camry', 'Park Avenue', 'Millenia', 'I30', 'gr',
       'sienna', 'camaro', 'Cherokee', 'Z3', 'civic', 'ram', 'odyssey',
       'taurus', 'expedition', 'Prizm', 'Escort', 's10', 'LHS',
       'windstar', 'f250', 'Regal', 'explorer', 'G20', 'Bonneville',
       'Eldorado', 'voyager', 'venture', 'durango', 'Intrepid', 'Contour',
       'S90', 'Sunfire', 'mpv', 'caravan', '200SX', 'Rodeo', 'wrangler',
       'f150', 'Tercel', 'S70', 'Discovery', 'Mustang SVT Cobra', '300e',
       'pickup', 'ciera', 'Legend', 'LS 400', 'Cutlass Ciera',
       'Santa Fe Sport', 'Cadenza', 'Q50', 'Elantra GT', 'F-TYPE',
       'Shelby GT500', 'QX70', 'QX60', 'Q60 Convertible',
       'Cooper Roadster', 'CX-5', 'Cooper Paceman', 'Rogue Select',
       'Cayman', 'CLA-Class', 'allroad', 'ATS', 'Prius v',
       'Continental GTC', 'XV Crosstrek', '3500', 'C-Max Energi',
       'Focus ST', 'RS 7', 'GX 460', 'CTS Wagon', 'SLS AMG', 'Aspen',
       'Eclipse Spyder', 'Vibe', 'Eos', 'Entourage', 'expeditn', 'rl',
       'Caravan', 'Quattroporte', 'M35', '9-5', 'SSR', 'Astro Cargo',
       'Safari Cargo', 'passat', 'Tribute', 'Diamante', 'Sable',
       'Silverado 3500', 'Phaeton', 'R32', 'I35', 'g500', 'Bravada',
       'Tahoe Limited/Z71', 'Truck', 'C/K 1500 Series', 'grand', 'SC 300',
       'Roadmaster', 'SC 400', '420sel', 'LX 570', 'QX80', 'RS 5',
       'Jetta GLI', 'ES 300h', 'capt', 'M4', 'SX4', 'iQ', 'Kizashi',
       'C/V Cargo Van', 'Prius c', '750lxi', 'alp', 'Lucerne',
       'Escalade EXT', 'Silverado 3500HD', 'Crown Victoria',
       'Sierra 3500HD', 'M56', 'rio', 'IS 250 C', '3', 'endeavor',
       'corolla', 'jetta', 'ActiveHybrid X6', 'a4', 'dts', 'g3500',
       'colorado', 'sebring', 'e250', 'police', 'Elantra Touring',
       'G37 Coupe', 'HS 250h', 'journey', 'Mazdaspeed3', 'Milan Hybrid',
       'Ghost', 'Silverado 1500 Hybrid', 'crown', 'Yukon Hybrid',
       'elantra', 'optima', 'borrego', 'mazda6', '6', 'Mariner Hybrid',
       'montana', 'Torrent', 'VUE Hybrid', 'G3', '9-7X', 'vibe',
       'Expedition EL', 'Tiburon', 'patriot', 'LR3', 'Navigator L',
       'Astra', 'Tribeca', 'XL7', 'sx4', 'Sky', 'Reno', 'M6', 'S8',
       'Terraza', 'Silverado 2500HD Classic', 'uplander', 'ram3500',
       'Sierra 1500 Classic', 'Sierra 2500HD Classic', 'Fusion Energi',
       'XK-Series', 'quattroporte', 'B-Series Truck', 'mazda3', 'b200',
       'Mazdaspeed Mazda6', 'Montego', 'g5', 'yaris', 'Rainier',
       'TrailBlazer EXT', 'optra', 'Crossfire', 'magnum', 'savana',
       'Sierra 1500HD', 'ridgelin', 'Savana', 'Zephyr', 'rrs', 'tribute',
       'carrera', 'Montana SV6', 'wave', 'tt', 'Classic', 'pt',
       'freestyle', 'Ascender', 'XG350', 'Q60 Coupe', 'Q70', 'QX50',
       'pursuit', 'x-trail', 'GTO', 'xA', 'L300', 'Baja', '9-2X', 'Aerio',
       'el', 'rainier', 'Silverado 2500', 'Astro', 'Tracker', 'intrepid',
       'F-150 Heritage', 'expedit', 'accord', 'Freelander', 'c240w',
       'MR2 Spyder', 'RS 6', '320i', 'Voyager', 'Axiom', 'cl55',
       'Montero Sport', 'sl55', 'Protege', 'Silhouette', 'b1500',
       'concorde', '626', 'Blackwood', 'Rodeo Sport', 'LX 470',
       'Villager', 'Firebird', 'Aztek', 'Aurora', 'CL', 'EuroVan',
       'Catera', 'Leganza', 'XG300', 'Prelude', 'Trooper', 'Prowler',
       'Cabrio', 'Integra', 'cavalier', 'astro', 'excurs', 'dakota',
       'Cirrus', 'twn&country', 'Jimmy', 'safari', 'ranger', 'sonoma',
       'Sierra 2500', 'yukon', 'Sephia', 'Passport', 'Mirage', 'breeze',
       'silhouette', 'villager', 'beetle', 'suburban', 'Lumina', 'Amigo',
       'mountaineer', 'Esteem', 'pathfinder', 'quest', 'Breeze', 'e300dt',
       'intrigue', 'lumina', 'Cabriolet', 'envoy', 'Cutlass', 'GS 400',
       'E-150', 'Regency', 'thunderbird', 'B-Series Pickup', 'legacy',
       'corsica', 'bronco', 'Le Baron', 'Caprice', 'Pickup', 'century',
       '500-Class', '300-Class', 'previa', 'Murano CrossCabriolet',
       'NV Cargo', 'Jetta Hybrid', 'S7', 'Encore', 'XTS',
       'Black Diamond Avalanche', 'RLX', '2 Series', 'M6 Gran Coupe',
       'regal', 'versa', 'BRZ', 'C/V Tradesman', 'Model S',
       'Beetle Convertible', 'Golf R', 'routan', 'TSX Sport Wagon',
       'interstate', 'a6', 'Corvette Stingray', 'SS', 'Mazdaspeed 3',
       'i-MiEV', 'F430', 'EX35', 'swift', 'GranSport', 'escalade', 'neon',
       'f350', 'Yukon Denali', 'Ghibli', '960', 'Cutlass Supreme',
       'cougar', 'IS 350 C', 'lacrosse', 'tucson', '323i', 'cobalt', 'x3',
       'Mazdaspeed MX-5 Miata', 'Ram Cargo', 'Safari', 'Eighty-Eight',
       '850', 'J30', 'Promaster Cargo Van', 'sonic', 'rr', '1',
       'Malibu Hybrid', '350', 'twn/cntry', 'Spirit', 'Accord Hybrid',
       '3 Series Gran Turismo', 'e', 'cruze', 'c230', 'crossfire',
       'Viper', 'Riviera', 'compass', 'Avalon Hybrid', 'RX-8',
       'V8 Vantage', 'Equator', 'sportage', 'C/K 3500 Series',
       'Mark VIII', 'charger', 'GranTurismo Convertible', 'avenger',
       'equinox', 'allure', 'c240s', 'Vitara', 'avalon', 'eurovan',
       'siera', 'pathfind', 'Eighty-Eight Royale', 'cherokee', 'aveo',
       'GS 460', 'Tribute Hybrid', 'Aura Hybrid', 'tahoe', 'g2500',
       '300ZX', 'Golf GTI', 'i-Series', 'golf', 'MKZ Hybrid', 'Macan',
       'FX50', 'comm', 'STS-V', 'Windstar Cargo', 'CTS-V Wagon', 'Karma',
       '328i', 'Z4 M', '42c', 'subrbn', 'b2300', 'mountnr', 'Coupe',
       'uplandr', 'Ram Van', 'Tempo', 'Tracer', 'CV Tradesman', 'DB9',
       'C/K 2500 Series', 'i8', 'Rapide', 'Nubira', 'Corsica',
       'NV Passenger', 'Spyder', 'LS 600h L', '400-Class', 'H3T',
       'LX 450', 'WRX', 'ActiveHybrid 7', 'Silverado 3500 Classic',
       '500e', 'Continental Supersports', 'Sierra 3500', 'Mystique',
       'F-150 SVT Lightning', '190-Class', 'MKC', 'Aspire', '940',
       'Gallardo', 'Continental Flying Spur Speed', '3000GT', 'TT RS',
       'B-Series', 'ActiveHybrid 5', 'Sierra 1500 Hybrid', 'ML55 AMG',
       'S-10 Blazer', 'RS 4', 'T100', 'Continental GTC Speed', 'mdx',
       'Transit Van', 'F-250', 'Sidekick', 'E-250', '8 Series',
       '420-Class', 'E-350', 'Achieva', 'B-Class Electric Drive',
       'Fleetwood', 'Paseo', 'Civic del Sol', 'Exige', 'X4', 'Spark EV',
       'Transit Wagon', 'H1', 'SLS AMG GT', 'Flying Spur', 'Metro',
       'Grand Cherokee SRT', 'RC F', 'Q3', '4 Series Gran Coupe',
       'RC 350', '360', 'GLA-Class', 'TLX', '458 Italia'], dtype=object)

In [40]:
ds['trim'].unique()

array(['LX', '328i SULEV', 'T5', ..., 'pure', 'EWB', 'Power Wagon'],
      dtype=object)

In [41]:
ds['trim'] = ds['trim'].str.lower()

In [42]:
ds['body'].unique()

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
       'Minivan', 'Missing', 'Van', 'Double Cab', 'CrewMax Cab',
       'Access Cab', 'King Cab', 'SuperCrew', 'CTS Coupe', 'Extended Cab',
       'E-Series Van', 'SuperCab', 'Regular Cab', 'G Convertible', 'Koup',
       'Quad Cab', 'CTS-V Coupe', 'G37 Convertible', 'Club Cab',
       'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'convertible',
       'G37 Coupe', 'Mega Cab', 'Cab Plus 4', 'Q60 Coupe', 'Cab Plus',
       'Beetle Convertible', 'TSX Sport Wagon', 'Promaster Cargo Van',
       'GranTurismo Convertible', 'CTS-V Wagon', 'Ram Van', 'minivan',
       'suv', 'Transit Van', 'van', 'regular-cab', 'g sedan', 'g coupe',
       'hatchback', 'king cab', 'supercrew', 'g convertible', 'coupe',
       'crew cab', 'wagon', 'double cab', 'e-series van', 'regular cab',
       'quad cab', 'g37 convertible', 'supercab', 'extended cab',
       'crewmax cab', 'genesis coupe', 'access cab', 'mega cab',
       'xtracab', 'beetle convertible', 'cts coupe', 'koup', 'club cab',
       'elantra coupe', 'q60 coupe', 'cts-v coupe', 'transit van',
       'granturismo convertible', 'tsx sport wagon',
       'promaster cargo van', 'q60 convertible', 'g37 coupe',
       'cab plus 4', 'cts wagon'], dtype=object)

In [43]:
ds['body'] = ds['body'].str.lower()

In [44]:
ds['body'].unique()

array(['suv', 'sedan', 'convertible', 'coupe', 'wagon', 'hatchback',
       'crew cab', 'g coupe', 'g sedan', 'elantra coupe', 'genesis coupe',
       'minivan', 'missing', 'van', 'double cab', 'crewmax cab',
       'access cab', 'king cab', 'supercrew', 'cts coupe', 'extended cab',
       'e-series van', 'supercab', 'regular cab', 'g convertible', 'koup',
       'quad cab', 'cts-v coupe', 'g37 convertible', 'club cab',
       'xtracab', 'q60 convertible', 'cts wagon', 'g37 coupe', 'mega cab',
       'cab plus 4', 'q60 coupe', 'cab plus', 'beetle convertible',
       'tsx sport wagon', 'promaster cargo van',
       'granturismo convertible', 'cts-v wagon', 'ram van', 'transit van',
       'regular-cab'], dtype=object)

In [45]:
ds['transmission'].unique()

array(['automatic', 'manual'], dtype=object)

In [46]:
ds['state'].unique()

array(['ca', 'tx', 'pa', 'mn', 'az', 'wi', 'tn', 'md', 'fl', 'ne', 'nj',
       'nv', 'oh', 'mi', 'ga', 'va', 'sc', 'nc', 'in', 'il', 'co', 'ut',
       'mo', 'ny', 'ma', 'pr', 'or', 'la', 'wa', 'hi', 'qc', 'ab', 'on',
       'ok', 'ms', 'nm', 'al', 'ns'], dtype=object)

In [47]:
ds['color'].unique()

array(['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown',
       'beige', 'purple', 'burgundy', '—', 'gold', 'yellow', 'green',
       'charcoal', 'orange', 'off-white', 'turquoise', 'pink', 'lime'],
      dtype=object)

In [48]:
ds['interior'].unique()

array(['black', 'beige', 'tan', '—', 'gray', 'brown', 'burgundy', 'white',
       'silver', 'off-white', 'blue', 'red', 'yellow', 'green', 'purple',
       'orange', 'gold'], dtype=object)

In [49]:
ds.nunique()

year                34
make                67
model              974
trim              1902
body                46
transmission         2
vin             550296
state               38
condition           41
odometer        172278
color               20
interior            17
seller           14264
mmr               1101
sellingprice      1887
saledate          3745
dtype: int64

In [50]:
ds.drop('saledate', axis=1, inplace=True)

In [51]:
ds.drop('vin', axis=1, inplace=True)

In [52]:
ds.drop('seller', axis=1, inplace=True)

In [53]:
ds.nunique()

year                34
make                67
model              974
trim              1902
body                46
transmission         2
state               38
condition           41
odometer        172278
color               20
interior            17
mmr               1101
sellingprice      1887
dtype: int64

In [54]:
le = LabelEncoder()

ds["transmission"] = le.fit_transform(ds["transmission"])

In [70]:
looe = ce.LeaveOneOutEncoder()

ds["state"] = looe.fit_transform(ds["state"], ds["sellingprice"])

In [71]:
looe = ce.LeaveOneOutEncoder()

ds["color"] = looe.fit_transform(ds["color"], ds["sellingprice"])

In [72]:
looe = ce.LeaveOneOutEncoder()

ds["interior"] = looe.fit_transform(ds["interior"], ds["sellingprice"])

In [57]:
looe = ce.LeaveOneOutEncoder()
columns=["make", "model", "trim", "body"]

for column in columns:
    ds[column] = looe.fit_transform(ds[column], ds["sellingprice"])

In [58]:
ds.head(10)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice
0,2015,11804.847813,14641.245377,10277.918579,16115.879250,0,ca,5.0,16639.0,white,black,20500,21500
1,2015,11804.847813,14641.245377,10277.918579,16115.879250,0,ca,5.0,9393.0,white,beige,20800,21500
2,2014,21473.620287,16808.025113,29524.137931,11716.393106,0,ca,4.5,1331.0,gray,black,31900,30000
3,2015,11459.651967,13754.448785,16336.082115,11716.402429,0,ca,4.1,14282.0,white,black,27500,27750
4,2014,21471.840756,56518.610619,36111.473913,11716.239797,0,ca,4.3,2641.0,gray,black,66000,67000
5,2015,11731.577773,11421.082696,11482.439390,11716.472247,0,ca,1.0,5554.0,gray,black,15350,10900
6,2014,21471.936947,41679.301887,13864.858043,11716.248084,0,ca,3.4,14943.0,black,black,69000,65000
7,2014,11939.394398,11136.586419,10630.003787,11716.476805,0,ca,2.0,28617.0,black,black,11900,9800
8,2014,19908.734683,12458.672566,31440.065147,11716.383783,0,ca,4.2,9557.0,white,black,32100,32250
9,2014,11939.267306,19335.046178,13752.916917,17840.496516,0,ca,3.0,4809.0,red,black,26300,17500

In [63]:
CE = ce.CountEncoder()
columns=["state", "color", "interior"]

for column in columns:
    ds[column] = CE.fit_transform(ds[column], ds["sellingprice"])

In [64]:
ds.head(10)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice
0,2015,11804.847813,14641.245377,10277.918579,16115.879250,0,73148,5.0,16639.0,106673,245074,20500,21500
1,2015,11804.847813,14641.245377,10277.918579,16115.879250,0,73148,5.0,9393.0,106673,59758,20800,21500
2,2014,21473.620287,16808.025113,29524.137931,11716.393106,0,73148,4.5,1331.0,82857,245074,31900,30000
3,2015,11459.651967,13754.448785,16336.082115,11716.402429,0,73148,4.1,14282.0,106673,245074,27500,27750
4,2014,21471.840756,56518.610619,36111.473913,11716.239797,0,73148,4.3,2641.0,82857,245074,66000,67000
5,2015,11731.577773,11421.082696,11482.439390,11716.472247,0,73148,1.0,5554.0,82857,245074,15350,10900
6,2014,21471.936947,41679.301887,13864.858043,11716.248084,0,73148,3.4,14943.0,111719,245074,69000,65000
7,2014,11939.394398,11136.586419,10630.003787,11716.476805,0,73148,2.0,28617.0,111719,245074,11900,9800
8,2014,19908.734683,12458.672566,31440.065147,11716.383783,0,73148,4.2,9557.0,106673,245074,32100,32250
9,2014,11939.267306,19335.046178,13752.916917,17840.496516,0,73148,3.0,4809.0,43569,245074,26300,17500

In [65]:
ds.to_csv('../data/cleared_car_price.csv', index=False)